.header {
  position: absolute;
  .h-logo img {
    width: 180px;
  }
}
.login-form {
  position: absolute;
  top: 6%;
  right: 0;
  left: 0;
  width: 25%;
  margin: 0 auto;
  background: #0000004d;
  padding: 41px;
}
